[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
unidecode = "*"
perseus-core-library = "*"
wheel = "*"
setuptools = "*"
twine = "*"
oauth2client = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
langdetect = "*"
requests = "*"
perseus-place-core-library = "*"
simplekml = "*"

[requires]
python_version = "3.*"
