<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration to the School Bus Transportation Service</title>
</head>
<body>
<p><span style="font-weight: 400;">Dear ::parent_name::,</span></p>
<p>
  <span style="font-weight: 400;"
    >The UPMD has received your registration for school transport 2020/2021.
    Your registration number is:</span
  >
</p>
<h2 style="text-align: center;"><strong>::registration_id::</strong></h2>
<p>
  <span style="font-weight: 400;">
    The amount that remains to be paid to the UPMD is:
  </span>
</p>
<h3 style="text-align: center;"><strong>::payment_amount:: VND</strong></h3>
<p>
  <span style="font-weight: 400;">You will have to pay this amount in cash only, by putting on an envelope the following reference: ::registration_id::, and bring it or have it brought to the office of the UPMD, located inside the school.</span>
</p>
<p><span style="font-weight: 400;">Best regards,</span></p>
<p>
  <strong>Union des Parents </strong><strong>du lyc&eacute;e </strong
  ><strong>Marguerite Duras</strong>
</p>
</body>
</html>
