<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration to the School Bus Transportation Service</title>
</head>
<body>
<p><span style="font-weight: 400;">Dear ::parent_name::,</span></p>
<p>
  <span style="font-weight: 400;"
    >The UPMD has received your registration for school transport 2020/2021.
    Your registration number is:</span
  >
</p>
<h2 style="text-align: center;"><strong>::registration_id::</strong></h2>
<p>
  <span style="font-weight: 400;">
    The amount that remains to be paid to the UPMD is:
  </span>
</p>
<h3 style="text-align: center;"><strong>::payment_amount:: VND</strong></h3>
<p>
  <span style="font-weight: 400;"
    >You can pay this amount by bank transfer from April 15th until May 15th,
    2020:</span
  >
</p>
<ul>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Description of the transaction: </span
    ><strong>::registration_id::</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Bank Name: </span
    ><strong>ACB HCM CITY Branch</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Account name: </span
    ><strong>GRIPARI ALEXANDRE MINH</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Account number: </span
    ><strong>9904537</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Address : </span>
    <strong>55/5 Duong so 5, Phuong Binh Trung Tay, Quan 2, TP HCM</strong>
  </li>
</ul>
<p>
  <span style="font-weight: 400;">- </span><strong>MANDATORY</strong
  ><span style="font-weight: 400;">
    by indicating in the description of your transfer the registration number
    <strong>::registration_id::</strong>. </span
  ><span style="font-weight: 400;"
    >Please note: without this number or with an incorrect number</span
  ><span style="font-weight: 400;"
    >, your contribution cannot be identified and will be considered LOST.</span
  >
</p>
<p>
  <span style="font-weight: 400;">- </span><strong>MANDATORY</strong
  ><span style="font-weight: 400;">
    with all transfer fees charged to the sender.</span
  >
</p>
<p>&nbsp;</p>
<p>
  <span style="font-weight: 400;"
    >P.S.: After May 15th, 2020, you will have to go later to the UPMD offices
    to pay in cash only.</span
  >
</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Best regards,</span></p>
<p>
  <strong>Union des Parents </strong><strong>du lyc&eacute;e </strong
  ><strong>Marguerite Duras</strong>
</p>
</body>
</html>
