<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription au Service de Transport Scolaire</title>
</head>
<body>
<p>
  <span style="font-weight: 400;">Chère/cher ::parent_name::,</span>
</p>
<p>
  <span style="font-weight: 400;"
    >L&rsquo;UPMD a bien re&ccedil;u votre inscription au transport scolaire
    2020/2021. Votre num&eacute;ro d&rsquo;inscription est le :</span
  >
</p>
<h2 style="text-align: center;">
  <strong>::registration_id::</strong>
</h2>
<p>
  <span style="font-weight: 400;"
    >Le montant qui vous reste &agrave; r&eacute;gler &agrave; l&rsquo;UPMD est de :</span
  >
</p>
<h3 style="text-align: center;">
  <strong>::payment_amount:: VND</strong
  ><span style="font-weight: 400;">&nbsp;</span>
</h3>
<p>
  <span style="font-weight: 400;">Vous devrez régler ce montant en espèces uniquement, en mettant sur une enveloppe la référence suivante : ::registration_id::, et l’apporter ou la faire apporter au bureau de l’UPMD, situé à l’intérieur du lycée.</span>
</p>
<p><span style="font-weight: 400;">Cordialement,</span></p>
<p>
  <strong>Union des Parents </strong><strong>du lyc&eacute;e </strong
  ><strong>Marguerite Duras</strong>
</p>
</body>
</html>
