<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng ký Dịch vụ Đưa đón Trường học</title>
</head>
<body>
<p><span style="font-weight: 400;">K&iacute;nh gửi ::parent_name::,</span></p>
<p>
  UPMD đ&atilde; nhận được đăng k&yacute; của bạn cho vận chuyển trường học
  2020/2021. Số đăng k&yacute; của bạn l&agrave;:
</p>
<h2 style="text-align: center;"><strong>::registration_id::</strong></h2>
<p>
  <span style="font-weight: 400;"
    >Số tiền c&ograve;n lại phải trả cho UPMD l&agrave;:</span
  >
</p>
<h3 style="text-align: center;"><strong>::payment_amount:: VND</strong></h3>
<p>
  <span style="font-weight: 400;">Bạn sẽ chỉ phải trả số tiền này bằng tiền mặt, bằng cách đưa vào một phong bì tài liệu tham khảo sau: ::registration_id::, và mang nó đến văn phòng của UPMD, nằm trong trường.</span>
</p>
<p><span style="font-weight: 400;">Tr&acirc;n trọng,</span></p>
<p>
  <strong>Union des Parents </strong><strong>du lyc&eacute;e </strong
  ><strong>Marguerite Duras</strong>
</p>
</body>
</html>
