<p>
  <span style="font-weight: 400;">Chère/cher {{parent_name}},</span>
</p>
<p>
  <span style="font-weight: 400;"
    >L&rsquo;UPMD a bien re&ccedil;u votre inscription au transport scolaire
    2020/2021. Votre num&eacute;ro d&rsquo;inscription est le :</span
  >
</p>
<h2 style="text-align: center;">
  <strong>{{registration_id}}</strong>
</h2>
<p>
  <span style="font-weight: 400;"
    >En tant que {{is_ape_member}}, le montant qui vous reste &agrave;
    r&eacute;gler &agrave; l&rsquo;UPMD est de :</span
  >
</p>
<h3 style="text-align: center;">
  <strong>{{payment_amount}} VND</strong
  ><span style="font-weight: 400;">&nbsp;</span>
</h3>
<p>
  <span style="font-weight: 400;"
    >Vous pouvez r&eacute;gler ce montant par virement bancaire &agrave; partir
    du 15 avril </span
  ><strong>jusqu&rsquo;au 15 mai 2020</strong
  ><span style="font-weight: 400;"> dernier d&eacute;lai :</span>
</p>
<ul>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Description de la transaction : </span
    ><strong>{{registration_id}}</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Nom de la banque : </span
    ><strong>ACB Cat Lai&nbsp;</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Nom du compte : </span
    ><strong>GRIPARI ALEXANDRE MINH</strong>
  </li>
  <li style="font-weight: 400;">
    <span style="font-weight: 400;">Num&eacute;ro du compte : </span
    ><strong>9904537</strong>
  </li>
</ul>
<p>
  <span style="font-weight: 400;">- </span><strong>OBLIGATOIREMENT</strong
  ><span style="font-weight: 400;">
    en indiquant dans le libell&eacute; de votre virement le num&eacute;ro
    d&rsquo;inscription <strong>{{registration_id}}</strong>. </span
  ><span style="font-weight: 400;"
    >Attention: sans ce num&eacute;ro ou avec un num&eacute;ro
    erron&eacute;,</span
  ><span style="font-weight: 400;">
    votre cotisation ne pourra pas &ecirc;tre identifi&eacute;e et sera
    consid&eacute;r&eacute;e comme PERDUE.</span
  >
</p>
<p>
  <span style="font-weight: 400;">- </span><strong>OBLIGATOIREMENT</strong
  ><span style="font-weight: 400;">
    avec tous les frais de virement &agrave; la charge de
    l&rsquo;exp&eacute;diteur.</span
  ><br /><br />
</p>
<p>
  <span style="font-weight: 400;"
    >P.S. : Apr&egrave;s le 15 mai 2020, vous devrez vous d&eacute;placer
    ult&eacute;rieurement aux permanences UPMD pour r&eacute;gler en
    esp&egrave;ces uniquement.</span
  ><br /><br />
</p>
<p><span style="font-weight: 400;">Cordialement,</span></p>
<p>
  <strong>Union des Parents </strong><strong>du lyc&eacute;e </strong
  ><strong>Marguerite Duras</strong>
</p>
