<p><span style="font-weight: 400;">K&iacute;nh gửi {{parent_name}},</span></p>
<p>&nbsp;</p>
<p>
  UPMD đ&atilde; nhận được đăng k&yacute; của bạn cho vận chuyển trường học
  2020/2021. Số đăng k&yacute; của bạn l&agrave;:
</p>
<h2 style="text-align: center;"><strong>{{registration_id}}</strong></h2>
<p>&nbsp;</p>
<p>
  <span style="font-weight: 400;"
    >L&agrave; một {{is_ape_member}}, số tiền c&ograve;n lại phải trả cho UPMD
    l&agrave;:</span
  >
</p>
<h3 style="text-align: center;"><strong>{{payment_amount}} VND</strong></h3>
<h2>&nbsp;</h2>
<p>
  <span style="font-weight: 400;"
    >Bạn c&oacute; thể thanh to&aacute;n số tiền n&agrave;y bằng chuyển khoản từ
    ng&agrave;y 15 th&aacute;ng 4 đến ng&agrave;y 15 th&aacute;ng 5 năm
    2020:</span
  >
</p>
<ul>
  <li>
    <span style="font-weight: 400;">M&ocirc; tả giao dịch:</span
    ><strong> {{registration_id}}</strong>
  </li>
  <li>
    <span style="font-weight: 400;">T&ecirc;n ng&acirc;n h&agrave;ng: </span
    ><strong>ACB C&aacute;t Lai</strong>
  </li>
  <li>
    <span style="font-weight: 400;">T&ecirc;n t&agrave;i khoản: </span
    ><strong>GRIPARI ALEXANDRE MINH</strong>
  </li>
  <li>
    <span style="font-weight: 400;">Số t&agrave;i khoản: </span
    ><strong>9904537</strong>
  </li>
</ul>
<p>&nbsp;</p>
<p>
  <span style="font-weight: 400;">- </span><strong>BẮT BUỘC</strong
  ><span style="font-weight: 400;">
    bằng c&aacute;ch chỉ ra trong phần m&ocirc; tả chuyển khoản của bạn số đăng
    k&yacute; </span
  ><strong>{{</strong><strong>registration_id</strong><strong>}}</strong
  ><span style="font-weight: 400;"
    >. Xin lưu &yacute;: kh&ocirc;ng c&oacute; số n&agrave;y hoặc c&oacute; số
    kh&ocirc;ng ch&iacute;nh x&aacute;c, đ&oacute;ng g&oacute;p của bạn
    kh&ocirc;ng thể được x&aacute;c định v&agrave; sẽ được coi l&agrave;
    MẤT.</span
  >
</p>
<p>
  <span style="font-weight: 400;">- </span><strong>BẮT BUỘC</strong
  ><span style="font-weight: 400;">
    với tất cả ph&iacute; chuyển tiền được t&iacute;nh cho người gửi.</span
  >
</p>
<p>&nbsp;</p>
<p>
  <span style="font-weight: 400;"
    >P.S.: Sau ng&agrave;y 15 th&aacute;ng 5 năm 2020, bạn sẽ phải đến
    c&aacute;c văn ph&ograve;ng UPMD sau để chỉ thanh to&aacute;n bằng tiền
    mặt.</span
  ><br /><br />
</p>
<p><span style="font-weight: 400;">Tr&acirc;n trọng,</span></p>
<p>
  <strong>Union des Parents </strong><strong>du lyc&eacute;e </strong
  ><strong>Marguerite Duras</strong>
</p>
